extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Rintu Joseph
        p A passionate software developer.

        .about-bio
          p Pursuing Post Bacceleuarate Diploma in Computing Studies and Information Systems in Douglas College, New Westminster, BC.I have  5 years of experience in software testing in both manual and automation.Completed Bachelor's of Technology in Computer Science and Engineering from CUSAT university, India. I am very passionate about software development and hence thought of further studies in Emerging Technologies.
           

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li C++
          li Java
          li JavaScript
          li Git and GitHub
          li VS Code
          li Node.js
          li Express
          li Pug
          li Selenium
          li MySQL

        h6 Contact Info
        ul
          li rintu.joeph784@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/rintu-joseph/', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/RintuJoseph', target='_blank') GitHub
        

    //- nav.nav
    //-   a(href='/')
    //-     span &larr;
    //-     |  Back